html {
  font-family: Ubuntu, sans-serif;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  padding-bottom: .65rem;
  margin-bottom: 2.6rem;
  &::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5rem;
    height: .3rem;
    background-color: $color-primary;
  }
}

h4 {
  font-weight: 300;
}

h6 {
  text-transform: uppercase;
}

a {
  color: secondary;
  transition:
    color $transition,
    background-color $transition,
    border-color $transition,
    opacity $transition;
}
