<a class="btn{% if include.class %} {{ include.class }}{% endif %}" href="{% if include.url %}{{ include.url }}{% else %}#{% endif %}">{% if include.text %}{{ include.text }}{%  else  %}Button{% endif %}</a>
