.footer {
  @extend .bg-grey-dark;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
    transition:
      opacity $transition;
    &:not(.btn):hover,
    &:not(.btn):focus {
      opacity: .75;
    }
  }
  .rsvp-cta {
    background-color: lighten($color-grey-dark, 5%);
  }
  .nav-footer {
    li:not(:last-child) {
      margin-bottom: .65rem;
    }
  }
  .sub-footer {
    background-color: darken($color-grey-dark, 5%);
    .link-ar {
      margin-left: 1.3rem;
      color: #fff;
      svg {
        width: 5.78rem;
        margin-top: -9px;
        transform: translateY(9px);
      }
    }
  }
}
