.masthead {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  a {
    color: $color-primary;
    text-decoration: none;
  }
  .menu-tog {
    margin-right: 1.3rem;
  }
  .nav-slide-in {
    a {
      color: #fff;
      position: relative;
      &::after {
        content: ' ';
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: -.325rem;
        width: 0;
        height: 3px;
        background-color: #fff;
        transition:
          width $transition;
      }
      &:hover::after,
      &:focus::after,
      &.current::after {
        width: 50%;
      }
      &.current:hover::after,
      &.current:focus::after {
        width: 66.6666%;
      }
    }
  }
}

@media only screen and (min-width: 38em) {

  .nav-slide-in {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 100px;
    width: $navWidthM;
    box-shadow: $shadow;
    transform: translateX(-100%);
    transition:
      transform $transition-quick;
    li:not(:last-child) {
      margin-bottom: 1.95rem;
    }
  }
  .masthead.open {
    .nav-slide-in {
      transform: none;
    }
    .btn-white {
      color: #fff;
    }
  }
}

@media only screen and (min-width: 60em) {

  .nav-slide-in {
    width: $navWidthL;
  }

}
