<a id="{{ include.id }}" class="toggle {{ include.class }}" href="{% if include.url %}{{ include.url }}{% else %}#{% endif %}">
  <span class="tog-top"></span>
  <span class="tog-middle"></span>
  <span class="tog-bottom"></span>
</a>
