html {
  scroll-behavior: smooth;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-v-end {
  align-items: flex-end;
}

.flex-row-v-center {
  align-items: center;
}

.flex-row-h-end {
  justify-content: flex-end;
}

.logo {
  line-height: 1;
  transition:
    opacity $transition;
  &:hover,
  &:focus {
    opacity: .75;
  }
  span:first-child {
    margin-right: -.2em;
  }
}
