html {
  scroll-behavior: smooth;
  // scroll-snap-type: y proximity;
}

section[tabindex="0"]:focus {
  outline: 0;
}

.snapable {
  scroll-snap-align: start;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-v-end {
  align-items: flex-end;
}

.flex-row-v-center {
  align-items: center;
}

.flex-row-h-end {
  justify-content: flex-end;
}
