$mqS: 25;
$mqM: 38;
$mqL: 60;
$mqXL: 90;

@mixin mq($minmax, $size...) {
  @if $minmax == 'min' {

    @media only screen and (min-width: #{$size}em) {

      @content;

    }
  } @elseif $minmax == 'minmax' {
    @media only screen and (min-width: #{nth($size, 1)}em) and (max-width: #{(nth($size, 2) - .001)}em) {

      @content;

    }
  } @else {
    @media only screen and (max-width: #{$newSize}em) {

      @content;

    }
  }
}

@mixin min($size) {
  @media only screen and (min-width: #{$size}em) {

    @content;

  }
}

@mixin max($size) {
  @media only screen and (max-width: #{$size}em) {

    @content;

  }
}

@mixin bgBasic() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin hov() {
  &:hover, &:focus {

    @content;

  }
}
