<header class="hero" {% if include.img %}style="background-image: url('{{site.baseurl}}/images/{{ include.img }}')"{% endif %}>
  <div class="wrapper hero-content grid grid-bottom gutter-1-2 pad-t-2 pad-b-2">
    <div class="unit [ xs-1 m-1-2 ] island-1-2">
      <!-- <div class="countdown flex-row">
        <strong class="inline-block"><span id="cd-days" class="yotta">---</span><span class="exa text-upper text-primary-light">d</span></strong>
        <strong class="inline-block"><span id="cd-hours" class="yotta">--</span><span class="exa text-upper text-primary-light">h</span></strong>
        <strong class="inline-block"><span id="cd-minutes" class="yotta">--</span><span class="exa text-upper text-primary-light">m</span></strong>
        <strong class="inline-block"><span id="cd-seconds" class="yotta">--</span><span class="exa text-upper text-primary-light">s</span></strong>
      </div> -->
    </div>
    <div class="unit [ xs-1 m-1-2 ] island-1-2">
      <h1 class="name-addition zetta">
        <div class="light">Steven</div>
        <div>+<span class="light">Tegan</span></div>
        <div class="total">Stegan</div>
      </h1>
    </div>
  </div>
  <a class="scroll-indicator" href="#page-content">
    <i class="icon i-1-1-2">
      <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
    </i>
    <span class="icon-label hidden">Scroll</span>
  </a>
</header>
