<header class="hero" {% if include.img %}style="background-image: url('{{site.baseurl}}/images/{{ include.img }}')"{% endif %}>
  <div class="wrapper hero-content island-1-2">

  </div>
  <a class="scroll-indicator" href="#page-content">
    <i class="icon i-1-1-2">
      <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
    </i>
    <span class="icon-label hidden">Scroll</span>
  </a>
</header>
